.char-select {
  background-color: #9a8c98;
  width: 140px;
  height: 40px;
  padding: 4px;
  outline: none;
  transition: all ease-in-out 0.2s;
  display: block;
}

.char-select:active,
.char-select:hover {
  box-shadow: 2px 2px 20px #48c78e;
  background-color: #ffe8d6;
  display: block;
}
